<ion-content>
  <div class="background w-100 h-100"></div>
  
  <ion-row class="w-100 vertical-center">
    <ion-col class="text-centered">
      <ion-card>
        <div class="w-100 h-100" style="border-radius:10px; z-index:-1"></div>
        <img src="../../../assets/images/cclogo.png" class="w-60 mt-2 shadow-on-image">
        <!-- <ion-card-header class="mb-2">
          <ion-card-title size="small">¡Bienvenido a CyC Valparaíso. Comienza ahora a preocuparte con tu salud, colaborando con nuestro profesionales.</ion-card-title>
        </ion-card-header> -->
        <ion-card-content>
          <div [formGroup]="loginForm" class="w-100">
            <ion-row>
              <ion-item class="mb-1">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-input placeholder="Correo" formControlName="user" type="email"></ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-item class="mb-1">
                <ion-icon name="key" slot="start"></ion-icon>
                <ion-input placeholder="Contraseña" formControlName="password" type="password"></ion-input>
              </ion-item>
            </ion-row>
            <ion-label (click)="navCtrl.navigateForward('password-recovery')">
              <b style="color: lightgrey">No recuerdo mi contraseña</b>
            </ion-label>
            <ion-button class="w-100 mt-3" color="main" [disabled]="!loginForm.valid" (click)="login()">
              <span style="color:white">Iniciar sesión</span> 
            </ion-button>
          </div>
          <ion-button class="w-100" color="main" fill="outline" (click)="navigate('signup')">
            Regístrate
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
