.record-container{
    //border: 1px solid #30303050;
    background: #e5e5e260;
    border-radius: 10px;
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:10px;
}

.item-transparent{
    --background: tranpsarent !important;
}