.main-color-shade-1{
    background-color:#62B0E4;
}

.main-color-shade-2{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main-color-shade-3{
    background-color:#2E96DC;
}

.q-container{
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 16px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px -6px rgba(0,0,0,0.75);
}

.q1-image{
    width:20%;
}

.text-shadow{
    text-shadow: 2px 2px grey;
}

.floating-icon{
    position: absolute;
    right: 3px;
    bottom: -3px;
    font-size:32px;
}